{% extends 'polls/base.html' %}
{% load static %}
{% block content %}

<div class="product-grid">
    <div class="product-card">
        <div class="header2">
            Questões
        </div>
        <div class="content">
            <div class="section">
                <h1>{{ pergunta.texto_pergunta }}</h1>
                    {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

                    <form action="{% url 'polls:votar' pergunta.id %}" method="post">
                        {% csrf_token %}
                        {% for alternativa in pergunta.alternativa_set.all %}
                            <input type="radio" name="alternativa" id="alternativa{{ forloop.couter }}" value="{{ alternativa.id }}">
                            <label for="alternativa{{ forloop.couter }}">{{ alternativa.texto_alternativa }}</label><br>
                        {% endfor %}
                        <input type="submit" value="votar">
                    </form>
                    <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}