{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel= "stylesheet" href ="{% static 'polls/css/login.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>Login</h1>
        </div>

        <form>
            <input type="email" placeholder="Digite o seu e-mail" required>
            <input type="password" placeholder="Digite sua senha" required>
            <div class="forgot-password">
                <a href="#">Esqueceu sua senha?</a>
            </div>
            <button type="submit">ENTRAR</button>
        </form>

        <div class="signup">
            <p>Não tem uma conta? <a href="{% url 'polls:cadastro' %}">Crie uma conta</a></p>
        </div>
    </div>
</body>
</html>