{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'polls/css/matematicaef8.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>MATHQUEST</title>
</head>

<body>
  <div class="header">
    <div class="title">
      <h1>Matemática EF: 8º Ano</h1>
    </div>
    <div class="submit-line">
      <input type="text" placeholder="Buscar..." />
      <button class="submit-lente" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <nav>
    <a href="{% url 'polls:mathquest' %}">Tópicos de estudos</a>
    <a href="#">Sobre</a>
    <a href="{% url 'polls:perfil' %}">Perfil</a>
  </nav>

  <div class="container">
    <div class="sidebar">
      <ul>
        <div class="conjunto">
        <li> <a href="#">Conhecendo os numeros</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
        <li> <a href="#">conteudo tal</a> </li>
      </div>
      </ul>
    </div>



    <div class="greeting">
      <h1>Conhecendo os numeros</h1>
        <a>TALTAL TALsssssss
          dddddd
          dddddd
        </a>
        
      <h1>conteudo tal</h1>

      <h1>Conteudo t</h1>


      </div>

     

    
    </div>
 

</body>

</html>