{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href ="{% static 'polls/css/mathquest.css' %}">
    <title>MathQuest - Aprenda Matemática de Forma Divertida</title>
    
</head>
<body>

    <header>
        <h1>MathQuest</h1>
    </header>
    <nav>
        <a href="{% url 'polls:index' %}">Início</a>
        <a href="#">Tópicos de estudos</a>
        <a href="#">Sobre</a>
        <a href="#">Perfil</a>
    </nav>
    <main>
        <h2>Bem-vindo ao MathQuest!</h2>
        <p>Seu portal para aprender matemática de maneira interativa e dinâmica. </p>
        <p>Explore tópicos de estudo, faça quizzes e acompanhe seu progresso!</p>
    </main>
<div class="content">
  <table>
    <tr>
      <th colspan="2">Matemática por ano</th>
    </tr>
    <tr>
      <td>1º ano EF</td>
      <td>6º ano EF</td>
    </tr>
    <tr>
      <td>2º ano EF</td>
      <td>7°ano EF</td>
    </tr>
    <tr>
      <td>3º ano EF</td>
      <td>8° ano EF</td>
    </tr>
    <tr>
      <td>4° ano EF</td>
      <td>9° ano EF</td>
    </tr>
    <tr>
      <td>5° ano EF</td>
      <td></td>
    </tr>
  </table>
</div>
</body>
</html>