{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'polls/css/mathquest.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>MATHQUEST</title>
</head>

<body>
  <div class="header">
    <div class="title">
      <h1>Tópicos de estudos</h1>
    </div>
    <div class="submit-line">
      <input type="text" placeholder="Buscar..." />
      <button class="submit-lente" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <nav>
    <a href="#">Início</a>
    <a href="#">Tópicos de estudos</a>
    <a href="#">Sobre</a>
    <a href="{% url 'polls:perfil' %}">Conta</a>
  </nav>

  <div class="container">
    <div class="sidebar">
      <ul>
        <div class="conjunto">
        <li> <a href="#">Matemática EF: 1º Ano</a> </li>
        <li> <a href="#">Matemática EF: 2º Ano</a> </li>
        <li> <a href="#">Matemática EF: 3º Ano</a> </li>
        <li> <a href="#">Matemática EF: 4º Ano</a> </li>
        <li> <a href="#">Matemática EF: 5º Ano</a> </li>
        <li> <a href="#">Matemática EF: 6º Ano</a> </li>
        <li> <a href="#">Matemática EF: 7º Ano</a> </li>
        <li> <a href="#">Matemática EF: 8º Ano</a> </li>
        <li> <a href="#">Matemática EF: 9º Ano</a> </li>
      </div>
      </ul>
    </div>



    <div class="product-grid">
      <div class="product-card">
        <div class="header2">
          Matemática EF: 1º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
          
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 2º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 3º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 4º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 5º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 6º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 7º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 8º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
      <div class="product-card">
        <div class="header2">
          Matemática EF: 9º Ano
        </div>
        <div class="content">
          <a href="#"> Conhecendo os números </a>
          <br>
          <a href="#"> Operações </a>
          <br>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

</html>