{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href ="{% static 'polls/css/perfil.css' %}">
    <title>Perfil</title>
</head>
<body>
    <div class="header">
        <div class="title">
          <h1>Perfil</h1>
        </div>

        </div>


      <nav>
        <a href="#">Início</a>
        <a href="#">Tópicos de estudos</a>
        <a href="#">Sobre</a>
        <a href="{% url 'polls:perfil' %}">Conta</a>
      </nav>
    <div class="container_perfil">
        <div class="logo">
            <h1> que bom te ver de volta ...</h1>
        </div>
    </div>
 
</body>

</html>


    