{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/css/sobre.css' %}">
    <title>Pop-up Exemplo</title>
    
    <a href="#openModal">Open Modal</a>

    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Popup</h2>
        <p>Isto é uma popup toda bonitinha</p>
      </div>
    </div>
</head>
<body>

</body>
</html>
