body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #f0ecec;
}

.content {
  background-color: #0b71aa;
}

.title h1 {
  margin-left: 50px;
  font-family: sans-serif;
}

.header {
  color: white;
  background-color: rgba(9, 9, 90, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.header i {
  font-size: 20px;
  background-color: white;

}

nav {
  background-color: rgba(9, 9, 90, 1);
  color: white;
  padding: 10px;
  text-align: center;
  word-spacing: 3px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
}

.sidebar {
  /* Altura total da página */
  width: 20%;
  /* Largura inicial do menu (fechado) */
  background-color: transparent;
  /* Cor de fundo escura */
  align-items: center;
  top: 0px;
  box-shadow: 1px 50px #000000;
}

/* Links dentro da sidebar */
.sidebar a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #000000;
  display: block;

}

.conjunto {
  margin-top: 50px;
  font-family: sans-serif;
}

.topic-card {
  padding: 10px;
  margin-bottom: 10px;
}

.topic-card ul {
  list-style-type: none;
  padding: 0;

}

.topic-card ul li {
  margin-bottom: 10px;
  text-decoration: none;
}

.container {
  display: flex;
}

.header2 {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #000000;

}

.content {
  padding: 10px;
  background-color: lightgray;
  text-decoration: none;
  border: 1px solid #000000;
  text-align: left;
}


.product-grid {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 70%;
  margin-left: 70px;
}

.product-card {
  margin: 1%;
  padding: 20px;
  float: left;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 1.25em;
  font-weight: normal;
  font-family: sans-serif;
}

.submit-lente {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 14px;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;

}

.submit-line {
  position: relative;
  width: 330px;
}

.submit-line input {
  padding: 8px;
  border: 2px solid #293173;
  border-radius: 20px;
  width: 300px;
  outline: none;
}


