{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'polls/css/login.css' %}">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'polls/imagens/icone.png'%}">
</head>

<body>
    <div class="container_login">
        <div class="logo">
            <h1>Criar uma conta</h1>
        </div>

        <form action="{% url 'usuarios:login' %}" method="POST"> {% csrf_token %} {{ form.as_p }}


            <button type="submit" href="{% url 'polls:mathquest' %}"> ENTRAR </button>
        </form>
        <p>
            {{custom_error}}
        </p>
        <div class="signup">
            <p>Nâo tem uma conta? <a href="{% url 'usuarios:cadastro' %}">Criar</a></p>
        </div>
        
        <p><a href="{% url 'usuarios:password_reset' %}">Esqueceu sua senha?</a></p>
        
    </div>

</body>

</html>